{% extends "base.html" %}
{% block content %}
<div class="w-10/12">
        {% for music in music_list %}
        <div class="m-1 p-3 bg-gradient-to-t from-neutral-800  to-neutral-900 rounded-lg mb-6 mt-6 p-2 flex  ">
                <div class=" w-96 h-64 overflow-hidden relative grow-0 shrink-0">
                        {% for preview in music.images %}
                        <img class="w-96 h-64 object-scale-down opacity-80"
                                src="/media/music/{{music.previewFolder}}/{{preview}}" />
                        {% endfor %}
                </div>
                <div class="ml-6 ">
                        <span
                                class="text-right mr-2 text-neutral-300 text-sky-300 text-2xl font-bold ">
                                {{music.name }}
                        </span>
                        <div class="prose-dark prose-base mt-4">
                                {{ music.description | safe }}
                        </div>
                </div>
        </div>
        {% endfor %}
</div>
{% endblock %}