{% extends "base.html" %}
{% block content %}
<script>
        function fadePreview() {

        }
        window.setInterval(fadePreview, 1000);
</script>
{% for project in project_list %}
<div class="m-1 p-3 bg-gradient-to-t from-neutral-800  to-neutral-900 rounded-lg mb-6 mt-6 p-2 flex">
        <div class="border-slate-400 border-2 rounded-lg  w-128 h-80 overflow-hidden relative">
                {% for preview in project.images %}
                <img class="w-128 h-80 object-scale-down "
                        src="/media/projects/{{project.previewFolder}}/{{preview}}" />
                {% endfor %}
        </div>
        <div class="ml-6 w-1/2">
                <span
                        class="text-right mr-2 text-neutral-300 text-sky-300 text-3xl font-bold border-b-2 border-blue-400">
                        {{project.name }}
                </span>
                <div class="prose-dark prose-base mt-4">
                        {{ project.description | safe }}
                </div>
                <div class="flex justify-center ml-3 ">
                        <a class="opacity-90 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-8 rounded-full transition ease-out  hover:scale-110 duration-150"
                                href="{{ project.link }}" target="_blank">
                                Checkout
                        </a>
                </div>
        </div>
</div>
{% endfor %}
{% endblock %}